.attractions__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 24px;
}

.attractions {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.attractions__name {
    font-size: 16px;
    color: #000;
}